<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drs Home</title>
</head>
<style>
    form,a
    {
    text-align:center;
    padding : 5% 30%;
    font-size:15px;
    display:inline-block;
    margin:20px 0;

    }
        
        a
        {
        background-color : rgb(95, 95, 95);
        color : white;
        padding: 10px ;
        text-decoration: none;
        border :black;
        cursor : pointer;
        width :auto;
        }
       


    </style>
<body>
<a name="updatedeldetails" href="updatedeldetails" >Update Delivered Details</a>
<a href="viewdeldetails" name="viewdeldetails" >View Delivered Details</a>
</body>
</html>